
@model NotDefteriWeb.Models.Note
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Not Defteri Sitesine Hoşgeldiniz</h3>
        <p>@Model.Noteid</p>
        <p>@Model.NoteTitle</p>
        <p>@Model.NoteContent</p>

        <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("List", "Note")'">Listeye Git</button>

    </div>
</body>
</html>
